/* Codes By Mahdi Tasha*/
/*Importing 'Iran Yekan' Font*/
@import '../fonts/font.css';

/*Variables*/
:root {	
	--pink: #fb3449;
	--darker-pink: #b32735;
}


/* Css Reset */
img {pointer-events: none;}
button {cursor: pointer;}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'IranYekanRegular', 'IranYekanMedium', sans-serif;
}

/*Styles*/
body > section{display: none;}
.pointer-events-none {pointer-events: none;}
.pointer-events-visible {pointer-events: visible;}
.aspect-ratio {aspect-ratio: 1/1;}
.support-btn {width: 50px;}
.bg-pink {background-color: var(--pink);}
.text-pink {color: var(--pink);}
.transition {transition: .3s;}

/*Hover And Active , ... Styles*/
.hover-bg-darker-pink:hover {background-color: var(--darker-pink);}
