/*Codes By Mahdi Tasha*/

/*Importing Our Font*/
@import "font/Yekan.css";

/*Variables*/
:root {
    --light: #F0F0F1;
    --darker-light: #A1A3A8;
    --pink: #fb3449;
    --orange: #f9a825;
}

/*Default Styles*/
button {cursor: pointer;}
a {text-decoration: none;}
body {overflow-x: hidden;}
img {pointer-events: none;}

* {
    padding: 0;
    margin: 0;
    font-family: Yekan, sans-serif;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 50%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.p-1 {padding: 1rem;}
.p-dot-5 {padding: .5rem;}
.mr-1 {margin-right: 1rem;}
.mr-dot-5 {margin-right: .5rem;}
.ml-1 {margin-left: 1rem;}
.ml-dot-5 {margin-left: .5rem;}
.d-inline-flex {display: inline-flex;}
.d-flex {display: flex;}
.flex-d-c {flex-direction: column;}
.ai-center {align-items: center;}
.jc-center {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-end {justify-content: end;}
.bg-light {background-color: var(--light);}
.c-darker-light {color: var(--darker-light);}
.rounded {border-radius: .5rem;}
.cur-p {cursor: pointer;}
.d-none {display: none;}
.transition-2 {transition: .2s;}
.hover-bg-darker-light:hover {background-color: #d2d2d2;}
.active-bg-darker-light:active {background-color: #d2d2d2;}
.fw-bold {font-weight: bold;}
.bg-none {background-color: unset;}
.fs-1 {font-size: 1rem;}
.b-1-solid-header {border: 1px solid #e0e0e2;}
.c-black {color: black;}
.c-white {color: white;}
.w-2-dot-5 {width: 2.5rem;}
.h-2-dot-5 {height: 2.5rem;}
.p-dot-75 {padding: .75rem;}
.circle {border-radius: 100%;}
.fw-normal {font-weight: normal;}
.list-unstyled {list-style: none;}
.b-none {border: none;}
.op-0 {opacity: 0;}
.w-10 {width: 10%;}
.mb-1 {margin-bottom: 1rem;}
.bb-1-white {border-bottom: 1px solid white;}
.bl-1-light {border-left: 1px solid var(--light);}
.hover-bb-pink:hover {border-bottom-color: var(--pink);}
.this-li-a-img-w-10 > li > a > img {width: 10%}
.text-no-break {white-space: nowrap;}
.shadow {box-shadow: 0 0 30px rgba(0,0,0,.2);}
.p-fixed {position: fixed;}
.show-on-1024 {display: none;}
.ml-2 {margin-left: 2rem;}
.cur-grab {cursor: grab;}
.cur-grab:active {cursor: grabbing;}
.object-fit {object-fit: cover;}

/*Media Queries*/
@media (max-width: 1024px) {
    .media-1024-d-none {display: none;}
    .media-1024-w-100 {width: 100%;}
    .show-on-1024 {display: block;}
    .media-1024-jc-sb {justify-content: space-between;}
    .media-1024-flex-d-c {flex-direction: column;}
    .media-1024-d-inline-flex {display: inline-flex;}
    .media-1024-c-orange {color: var(--orange);}
    .media-1024-mr-1 {margin-right: 1rem;}
    .media-1024-w-auto {width: auto;}
    .media-1024-m-0 {margin: 0;}
}

@media (max-width: 410px) {.media-410-h-1 {height: 1rem;}}