/*Codes By Mahdi Tasha*/

/*Importing Our Font*/
@import "font/Yekan.css";

/*Default Styles*/
button {cursor: pointer;}
a {text-decoration: none;}

* {
    padding: 0;
    margin: 0;
    font-family: Yekan, sans-serif;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 30%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.p-1 {padding: 1rem;}
.p-dot-5 {padding: .5rem;}
.mr-1 {margin-right: 1rem;}
.mr-dot-5 {margin-right: .5rem;}
.ml-1 {margin-left: 1rem;}
.ml-dot-5 {margin-left: .5rem;}
.d-inline-flex {display: inline-flex;}
.d-flex {display: flex;}
.flex-d-c {flex-direction: column;}
.ai-center {align-items: center;}
.jc-center {justify-content: center;}
.jc-sb {justify-content: space-between;}