/*Codes By Mahdi Tasha*/

/*Importing Our Font*/
@import "font/Yekan.css";

/*Variables*/
:root {
    --light: #F0F0F1;
    --darker-light: #A1A3A8;
    --pink: #fb3449;
    --orange: #f9a825;
    --green: #52AE06;
}

/*Default Styles*/
button {cursor: pointer;}
a {text-decoration: none;}
body {overflow-x: hidden;}
img {pointer-events: none;}

* {
    padding: 0;
    margin: 0;
    font-family: Yekan, sans-serif;
    box-sizing: border-box;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 50%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.p-1 {padding: 1rem;}
.p-dot-5 {padding: .5rem;}
.mr-1 {margin-right: 1rem;}
.mr-dot-5 {margin-right: .5rem;}
.ml-1 {margin-left: 1rem;}
.ml-dot-5 {margin-left: .5rem;}
.d-inline-flex {display: inline-flex;}
.d-flex {display: flex;}
.flex-d-c {flex-direction: column;}
.ai-center {align-items: center;}
.jc-center {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-end {justify-content: end;}
.bg-light {background-color: var(--light);}
.c-darker-light {color: var(--darker-light);}
.rounded {border-radius: .5rem;}
.cur-p {cursor: pointer;}
.d-none {display: none;}
.transition-2 {transition: .2s;}
.hover-bg-darker-light:hover {background-color: #d2d2d2;}
.active-bg-darker-light:active {background-color: #d2d2d2;}
.fw-bold {font-weight: bold;}
.bg-none {background-color: unset !important;}
.fs-1 {font-size: 1rem;}
.b-1-solid-header {border: 1px solid #e0e0e2;}
.c-black {color: black;}
.c-white {color: white;}
.w-2-dot-5 {width: 2.5rem;}
.h-2-dot-5 {height: 2.5rem;}
.p-dot-75 {padding: .75rem;}
.circle {border-radius: 100%;}
.fw-normal {font-weight: normal;}
.list-unstyled {list-style: none;}
.b-none {border: none;}
.op-0 {opacity: 0;}
.w-10 {width: 10%;}
.mb-1 {margin-bottom: 1rem;}
.bb-1-white {border-bottom: 1px solid white;}
.bl-1-light {border-left: 1px solid var(--light);}
.br-1-light {border-right: 1px solid var(--light);}
.hover-bb-pink:hover {border-bottom-color: var(--pink);}
.this-li-a-img-w-10 > li > a > img {width: 10%}
.text-no-break {white-space: nowrap;}
.shadow {box-shadow: 0 0 30px rgba(0,0,0,.2);}
.p-fixed {position: fixed;}
.show-on-1024 {display: none;}
.ml-2 {margin-left: 2rem;}
.cur-grab {cursor: grab;}
.cur-grab:active {cursor: grabbing;}
.object-fit {object-fit: cover;}
.d-grid {display: grid;}
.grid-col-8 {grid-template-columns: repeat(8, 1fr);}
.gap-1 {gap: 1rem;}
.w-4 {width: 4rem;}
.h-4 {height: 4rem;}
.w-40 {width: 40%;}
.ov-hidden {overflow: scroll;}
.my-slide-6-per-view {width: 20%;background-color: white;}
.bg-pink {background-color: var(--pink);}
.p-3 {padding: 3rem;}
.h-100 {height: 100%;}
.scroll-none::-webkit-scrollbar {display: none;}
.ml-dot-25 {margin-left: .25rem;}
.rounded-r {border-radius: 0 1rem 1rem 0;}
.rounded-l {border-radius: 1rem 0 0 1rem;}
.ta-left {text-align: left;}
.bg-green {background-color: var(--green);}
.rounded-2 {border-radius: 2rem;}
.no-wrap {white-space: nowrap;}
.bg-white {background-color: white;}
.w-2 {width: 2rem;}
.h-2 {height: 2rem;}
.p-dot-25 {padding: .25rem;}
.p-abs {position: absolute;}
.mt-minus-1 {margin-top: -1rem;}
.bg-gradiant-gray {background: linear-gradient(to right, #EBEEEA, #EBEEEA);}
.p-2 {padding: 2rem;}
.bg-fresh {background-image: url('img/section 3/freshPattern.svg');}
.bg-cover {background-size: cover;}
.bg-contain {background-size: contain;}
.bg-no-repeat {background-repeat: no-repeat;}
.c-green {color: var(--green);}
.grid-col-4 {grid-template-columns: repeat(4, 1fr);}
.ta-center {text-align: center;}
.grid-col-5 {grid-template-columns: repeat(5, 1fr);}
.gap-2 {gap: 2rem;}
.grid-col-2 {grid-template-columns: repeat(2, 1fr);}
.mb-2 {margin-bottom: 2rem}

/*Media Queries*/
@media (max-width: 1374px) {
    .media-1374-d-flex-col {display: flex;flex-direction: column;}
    .media-1374-w-100 {width: 100%;}
    .media-1374-jc-center {justify-content: center;}
    .media-1374-bg-none {background-image: none;}
    .media-1374-bg-fresh {background-image: url('img/section 3/freshPattern.svg');}
}

@media (max-width: 1024px) {
    .media-1024-d-none {display: none;}
    .media-1024-w-100 {width: 100%;}
    .show-on-1024 {display: block;}
    .media-1024-jc-sb {justify-content: space-between;}
    .media-1024-flex-d-c {flex-direction: column;}
    .media-1024-d-inline-flex {display: inline-flex;}
    .media-1024-c-orange {color: var(--orange);}
    .media-1024-mr-1 {margin-right: 1rem;}
    .media-1024-w-auto {width: auto;}
    .media-1024-m-0 {margin: 0;}
    .my-slide-6-per-view {width: 30% !important;}
    .grid-col-8 {grid-template-columns: repeat(4, 1fr);}
}

@media (max-width: 719px){
    .media-719-d-none {display: none;}
    .media-719-d-flex-col {display: flex;flex-direction: column;}
    .media-719-ai-start {align-items: start;}
    .media-719-m-only-bottom {margin: 0 0 1rem 0;}
    .media-719-m-only-bottom-2 {margin: 0 0 2rem 0;}
    .media-719-grid-col-2 {grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 622px) {
    .media-622-h-30 {height: 30vh;}
    .media-622-h-5 {height: 5vh;}
    .my-slide-6-per-view {width: 40% !important;}
    .grid-col-8 {grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 410px) {
    .media-410-h-1 {height: 1rem;}
    .grid-col-8 {grid-template-columns: repeat(2, 1fr) !important;}
    .media-410-ai-start {align-items: start;}
    .media-410-mb-1 {margin-bottom: 1rem;}
    .media-719-grid-col-1 {grid-template-columns: repeat(1, 1fr);}
    .media-410-flex-d-c {
        display: flex;
        flex-direction: column;
    }
}