/*Codes By Mahdi Tasha*/

/*Importing Our Font*/
@import "font/Yekan.css";

/*Variables*/
:root {
    --light: #F0F0F1;
    --darker-light: #A1A3A8;
}

/*Default Styles*/
button {cursor: pointer;}
a {text-decoration: none;}
body {overflow-x: hidden;}
img {pointer-events: none;}

* {
    padding: 0;
    margin: 0;
    font-family: Yekan, sans-serif;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 50%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.p-1 {padding: 1rem;}
.p-dot-5 {padding: .5rem;}
.mr-1 {margin-right: 1rem;}
.mr-dot-5 {margin-right: .5rem;}
.ml-1 {margin-left: 1rem;}
.ml-dot-5 {margin-left: .5rem;}
.d-inline-flex {display: inline-flex;}
.d-flex {display: flex;}
.flex-d-c {flex-direction: column;}
.ai-center {align-items: center;}
.jc-center {justify-content: center;}
.jc-sb {justify-content: space-between;}
.jc-end {justify-content: end;}
.bg-light {background-color: var(--light);}
.c-darker-light {color: var(--darker-light);}
.rounded {border-radius: .5rem;}
.cur-p {cursor: pointer;}
.d-none {display: none;}
.transition-2 {transition: .2s;}
.hover-bg-darker-light:hover {background-color: #d2d2d2;}
.fw-bold {font-weight: bold;}
.bg-none {background-color: unset;}
.fs-1 {font-size: 1rem;}
.b-1-solid-header {border: 1px solid #e0e0e2;}
.c-black {color: black;}
.c-white {color: white;}
.w-2-dot-5 {width: 2.5rem;}
.h-2-dot-5 {height: 2.5rem;}
.p-dot-75 {padding: .75rem;}
.circle {border-radius: 100%;}
.fw-normal {font-weight: normal;}